
/**** typeography ****/

* {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #333950;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

h4 {
  font-size: 20px;
  color: #25293A;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

p {
  color: #747B95;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
}

/**** typeography ****/



/**** components ****/

.hero-btn {
  padding: 12px 40px;
  background-color: #5175FF;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 25.6px;
  cursor: pointer;
  box-shadow: 0 25px 25px -10px #3f5bc240;
  text-decoration: none;
}

.pricing-btn {
  padding: 12px 40px;
  background-color: #E4EAFF;
  border-radius: 999px;
  color: #5175FF;
  font-size: 16px;
  font-weight: 700;
  margin-top: 48px;
  text-decoration: none;
  width: 31%;
}

.pricing-btn-1 {
  padding: 12px 40px;
  background-color: #fff;
  border-radius: 999px;
  color: #5175FF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 48px;
  text-decoration: none;
}

.pricing-btn-2 {
  padding: 12px 40px;
  background-color:#E4EAFF;
  border-radius: 999px;
  color: #5175FF;
  font-size: 16px;
  font-weight: 700;
  margin-top: 48px;
  cursor: pointer;
  text-decoration: none;
}

.countdown-btn {
  padding: 12px 40px;
  background-color: #5175FF;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 25.6px;
  cursor: pointer;
  text-decoration: none ;
}

span {
  color: #5175FF;
}



/**** body ****/

.container {
  margin-left: 16px;
  margin-right: 16px;
  width: 92%;
}

body {
  background-color: #FAFAFA;
  background-image: url('/public/assets/home/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 638px;
  background-position-x: center;
  background-position-y: -242px;
  position: absolute;
  margin: 0;
}

/**** body ****/



/**** header section ****/

header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}


/**** header section ****/



/**** header section ****/

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 796px;
}

.hero-img {
  width: 76%;
}

.hero-text-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-text-content > p {
  width: 99%;
  margin-bottom: 24px;
}

/**** header section ****/



/**** pricing section ****/

.pricing-section {
  margin-top: 80px;
  background-color: #25293A;
  height: 1217px;
  background-image: url('/public/assets/home/bg-pattern-footer.svg');
  background-size: 607px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.pricing-cards {
  position: relative;
  display: flex;
  bottom: 718px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}


/**** tier-card-1 ****/

.tier-card {
  background-color: #fff;
  padding: 40px 24px;
  width: 80%;
  border-radius: 12px;
  box-shadow:  0 50px 50px -25px #4b5c9a3d;
}

.card-body-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-plan-text {
  text-align: center;
}

.card-plan-text > h1 {
  font-size: 56px;
  margin: 16px 0px 16px;
}

.card-plan-text > p {
  color:#25293A;
  line-height: 25.6px;
  font-weight: 400;
  margin: 0px 0px 48px;
}

.card-text-content > p {
  margin: 16px 0px 16px;
}

/**** tier-card-1 ****/




/**** tier-card-2 ****/

.tier-card-1 {
  padding: 48px 32px;
  background-color: #5175FF;
  width: 75%;
  border-radius: 12px;
  box-shadow: 0 50px 50px 0 #4b5c9a40;
}

.card-body-content-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card-plan-text-1 {
  text-align: center;
}


.card-plan-text-1 > h1 {
  color: #fff;
  font-size: 56px;
  margin: 16px 0 16px;
}


.card-plan-text-1 > h4 {
  color: #fff;
}

.card-plan-text-1 > p {
  color: #fff;
  margin: 0px 0px 48px;
}

.card-text-content-1 > p {
  color: #fff;
}

/**** tier-card-2 ****/




/**** tier-card-3 ****/

.tier-card-2 {
  padding: 40px 24px;
  background-color: #fff;
  width: 78%;
  border-radius: 12px;
  box-shadow:  0px 50px 50px -25px #4b5c9a3d;
}

.card-body-content-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-plan-text-2 {
  text-align: center;
}

.card-plan-text-2 > h1 {
  font-size: 56px;
  margin: 16px 0px 16px;
}

.card-text-content-2 {
  margin: 16px 0px 16px;
}

/**** tier-card-3 ****/


/**** countdown section ****/

.countdown-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countdown-container > p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 25.6px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.countdown-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
  gap: 16px;
}

.timer-card {
  padding-top: 16px;
  background-color:#333950;
  border-radius: 8px;
  width: 73px;
}

.timer-card > h1 {
  color: #fff;
  margin-bottom: 4px;
}

.timer-card > p {
  font-weight: 700;
  margin-top: 0px;
}

/**** countdown section ****/


/*** media queries tablet ***/

@media screen and (min-width:768px) {

  /*** components ***/

  .pricing-btn {
    margin: 0;
    width: 19%;
    display: flex;
    justify-content: center;
  }

  .pricing-btn-1 {
    margin: 0;
    width: 18%;
  }

  .pricing-btn-2 {
    margin: 0;
    width: 17%;
  }

  /*** components ***/


  /*** typeography ***/

  h1 {
    font-size: 40px;
  }


  
  /**** body ****/

  .container {
    margin-left: 39px;
    margin-right: 39px;
    width: 90%;
  }
  
  body {
    background-position-x: 348px;
    background-position-y: -152px;
    background-size: 665px;
  }

  /**** body ****/
  
  
  /**** header section ****/

  header {
    margin-top: 80px;
    display: flex;
    justify-content: left;
  }

  /**** header section ****/



  /**** hero section ****/


  .hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('/public/assets/home/illustration-charts.svg');
    background-repeat: no-repeat;
    background-size: 322px;
    background-position-x: right;
    margin-bottom: 533px;
  }

  .hero-img {
    display: none;
  }

  .hero-text-content {
    display: flex;
    justify-content: left;
    width: 51%;
  }

  .hero-text-content > h1 {
    text-align: left;
  }

  .hero-text-content > p {
    text-align: left;
  }

  /**** hero section ****/



  /**** pricing section ****/

  .pricing-section {
    height: 986px;
    margin-top: 80px;
  }

  .pricing-cards {
    position: absolute;
    bottom: 120px;
  }


  /**** pricing-cards ****/



  /*** tier-card-1 ***/

  .tier-card {
    padding: 48px;
    width: 73%;
  }

  .card-body-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .card-plan-text {
    text-align: left;
  }

  .card-plan-text > h1 {
    text-align: left;
  }

  .card-plan-text > p {
    margin-bottom: 24px;
  }

  /*** tier-card-1 ***/



  /*** tier-card-2 ***/

  .tier-card-1 {
    background-image: url('/public/assets/home/bg-pattern-pricing.svg');
    background-size: 819px;
    background-position-x: -312px;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 77%;
  }

  .card-body-content-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-plan-text-1 {
    text-align: left;
  }

  .card-plan-text-1 > h1 {
    text-align: left;
  }

  .card-plan-text-1 > p {
    margin-bottom: 16px;
  }

  /*** tier-card-2 ***/



  /*** tier-card-3 ***/

  .tier-card-2 {
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 73%;
  }

  .card-body-content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-plan-text-2 {
    text-align: left;
  }

  .card-plan-text-2 > p {
    margin-bottom: 24px;
  } 

  /*** tier-card-3 ***/



  /**** countdown-container ****/  

  .countdown-section {
    width: 65%;
    display: flex;
    justify-content: center;
  }

  .countdown-container {
    margin-top: 96px;
    width: 90%;
  }

  .countdown-timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .timer-card {
    padding: 16px 12px;
  }

  .timer-card > h1 {
    font-size: 56px;
  }

  /**** countdown-container ****/ 
}

/**** media queries desktop ****/ 

@media screen and (min-width:1440px) {

  /**** typeography ****/

  h1 {
    font-size: 56px;
    line-height: 67.2px;
  }
  

  p {
    font-size: 18px;
    line-height: 27px;
  }

  /**** typeography ****/




  /**** components ****/

  .pricing-btn {
    width: 30%;
  }

  .pricing-btn-1 {
    width: 30%;
  }

  .pricing-btn-2 {
    width: 30%;
  }

  .countdown-btn {
    width: 17%;
    margin-bottom: 121px;
  }

  /**** components ****/




  /**** body ****/ 

  .container {
    margin-left: 125px;
    margin-right: 125px;
    width: 83%;
  }

  body {
    background-image: url('/public/assets/home/bg-pattern-header.svg');
    background-position-x: 826px;
    background-size: 983px;
    background-position-y: -346px;
  }

  /**** body ****/ 



  /**** header section ****/ 

  header {
    margin-top: 80px;
  }

  /**** header section ****/ 




  /**** hero section ****/ 

  .hero-section {
    padding-bottom: 150px;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    background-size: 523px;
    margin-bottom: 462px;
    flex-direction: row;
    background-position-y: top;
    background-position-x: 651px;
  }

  .hero-text-content {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  /**** hero section ****/ 




  /**** pricing section ****/ 

  .pricing-section {
    width: 1440px;
    height: 793px;
    background-image: url('/public/assets/home/bg-pattern-footer.svg');
    background-position-x: -164px;
    background-position-y: 38px;
    background-size: 1056px;
  }

  .pricing-cards {
    position: relative;
    bottom: 293px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }


  /*** tier-card-1 ***/

  .tier-card {
    width: 309px;
  }

  .card-body-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .card-plan-text {
    text-align: center;
  }

  .card-plan-text > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  /*** tier-card-1 ***/



  /*** tier-card-2 ***/

  .tier-card-1 {
    background-image: none;
    width: 309px;
  }

  .card-body-content-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .card-plan-text-1 {
    text-align: center;
  }

  .card-plan-text-1 > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  /*** tier-card-2 ***/



  /*** tier-card-3 ***/

  .tier-card-2 {
    width: 309px;
  }

  .card-body-content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .card-plan-text-2 {
    text-align: center;
  }

  .card-plan-text-2 > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  /*** tier-card-3 ***/




  /**** countdown-container ****/

  .countdown-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
  }

  .countdown-container {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: left;
  }

  .timer-card {
    padding: 16px 12px;
    width: 85px;
  }

}